<div class="container-fluid col-10" style="margin-top: 10px;">
    <div class="card" style="border: solid 1px; height: 30rem;">
        <div class="card-header" id="cardHeaderForCreateUser">
            <p class="font-weight-normal text-white" style="margin-top: 5px;"> Create Company </p>
        </div>
        <div class="card-body" style="margin-top: 1rem;">
            <form action="#">
                <div class="form-row mt-4">
                    <div class="col col-6 offset-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Company Name:<sup class="text-danger">*</sup></label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                placeholder="Enter The Company name" style="border: solid 1px;">
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="col col-5 offset-3"> 
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block" style="margin-left: 42px;">CREATE COMPANY</button>
                </div>
                
            </div>
        </div>

    </div>


</div>