<div class="container-fluid col-10" style="margin-top: 10px;">
    <div class="card" style="border: solid 1px;">
        <div class="card-header" id="cardHeaderForCreateUser">

            <p class="font-weight-normal text-white" style="margin-top: 5px;"> Create Ticket </p>
        </div>
        <div class="card-body">

            <form action="#">
                <div class="form-row mt-4">
                    <div class="col col-3 offset-1">
                        <div class="form-group">
                            <label class="font-weight-bold">Company Name<sup class="text-danger">*</sup></label>
                            <select class="form-control" id="exampleFormControlSelect1" style="border: solid 1px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-3 offset-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Requester<sup class="text-danger">*</sup></label>
                            <select class="form-control" id="exampleFormControlSelect1"style="border: solid 1px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col col-3 offset-1">
                        <div class="form-group">
                            <label class="font-weight-bold">Issue Category<sup class="text-danger">*</sup></label>
                            <select class="form-control" id="exampleFormControlSelect1" style="border: solid 1px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-3 offset-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Issue Sub-Category<sup class="text-danger">*</sup></label>
                            <select class="form-control" id="exampleFormControlSelect1" style="border: solid 1px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col col-3 offset-1">
                        <div class="form-group">
                            <label class="font-weight-bold">Issue Type<sup class="text-danger">*</sup></label>
                            <select class="form-control" id="exampleFormControlSelect1" style="border: solid 1px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-3 offset-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Severity<sup class="text-danger">*</sup></label>
                            <select class="form-control" id="exampleFormControlSelect1" style="border: solid 1px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-left: 2.5rem;">
                    <div class="form-group col-10">
                        <label for="issues" class="font-weight-bold">Issue Description <sup class="text-danger">*</sup></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="border: solid 1px;"></textarea>
                    </div>
                    <div class="input-group mb-3 col-7 ">
                        <label class="" for="customFile" class="font-weight-bold">Upload File <sup class="text-danger">*</sup></label>
                        <input type="file" class="form-control" id="customFile" />
                       
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-block col-3 offset-4 mt-4">CREATE TICKET</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>