/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .col{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  .table_header {
    text-align: center;
    font-size: 15px;
    color: var(--main-font-4-color);
  }
  
  td {
    text-align: center;
  }

  
  .action-btn {
    border-radius: 16px;
    min-width: 20px !important;
    display: inline;
    padding: 2px;
    /* margin: 5px; */
  }
  
  .action-link {
    font-weight: 500;
    font-size: 8px;
    margin: 5px;
    color: var(--main-font-3-color);
    cursor: pointer;
  }
  
  .action-btn:hover {
    color: var(--main-font-4-color);
    /* background-color: var(--main-bg-2-color); */
  }
  
  .edit-btn,
  .delete-btn {
    font-size: 20px;
  }