<div class="container-fluid col-10" style="margin-top: 10px;">
    <div class="card" style="border: solid 1px;">
        <div class="card-header" id="cardHeaderForCreateUser">

            <p class="font-weight-normal text-white" style="margin-top: 5px;"> Create User </p>
        </div>
        <div class="card-body">

            <form action="#">
                    <div class="col col-5 offset-2">
                        <div class="form-group">
                            <label class="font-weight-bold">Company Name<sup class="text-danger">*</sup></label>
                            <select class="form-control" id="exampleFormControlSelect1" style="border: solid 1px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-5 offset-2">
                        <div class="form-group">
                            <label class="font-weight-bold">Username<sup class="text-danger">*</sup></label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                placeholder="Enter Your Username" style="border: solid 1px;">
                        </div>
                    </div>
                    <div class="col col-5 offset-2">
                        <div class="form-group">
                            <label class="font-weight-bold">Display Name<sup class="text-danger">*</sup></label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                placeholder="Enter The Display Name" style="border: solid 1px;">
                        </div>
                    </div>
                    <div class="col col-5 offset-2">
                        <div class="form-group">
                            <label class="font-weight-bold">User Type<sup class="text-danger">*</sup></label>
                            <select class="form-control" id="exampleFormControlSelect1" style="border: solid 1px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-5 offset-2">
                        <div class="form-group">
                            <label class="font-weight-bold">Email Address<sup class="text-danger">*</sup></label>
                            <input type="email" class="form-control" id="formGroupExampleInput"
                                placeholder="Enter The Email Address" style="border: solid 1px;">
                        </div>
                    </div>
                </form>
                <div>
                    <button type="button" class="btn btn-primary btn-block col-3 offset-3 mt-4">CREATE USER</button>
                </div>
            </div>
        </div>
    </div>